<form id="checkout-form" class="smart-form" (ngSubmit)="onSubmit()" [formGroup] = "myForm" >

  <fieldset>

    <div class="row">
      <section class="col col-xs-12">
        <label class="select">
          <select name="name" formControlName="name">
            <option value="0" selected="" disabled="">Product</option>
            <option value="{{product.product_id}}" *ngFor="let product of products" >{{product.name}}</option>
          </select> <i></i> </label>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
          <input type="number" name="quantity" formControlName = "quantity" placeholder="Quantity">
        </label>
      </section>
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-phone"></i>
          <input type="number" name="price" formControlName = "price" placeholder="Price">
        </label>
      </section>
    </div>

  </fieldset>

  <fieldset>
    <section>
      <label class="textarea">
        <textarea rows="3" name="info" formControlName="description" placeholder="Description"></textarea>
      </label>
    </section>
  </fieldset>


  <footer>
    <button type="submit" class="btn btn-primary">
      Validate Form
    </button>
  </footer>
</form>
