<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li routerLinkActive="active" >
        <a  routerLink="/auth/login" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Auth' | i18n}}</span></a>
      </li>
      <li routerLinkActive="active" >
        <a  routerLink="/e-commerce/products-view" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Products' | i18n}}</span></a>
      </li>
      <li routerLinkActive="active" >
        <a  routerLink="/forms/layouts" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Forms' | i18n}}</span></a>
      </li>
    </ul>
  </nav>
  <sa-minify-menu></sa-minify-menu>

</aside>
