<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li routerLinkActive="active" >
        <a  routerLink="/auth/login" title="Auth">
          <i class="fa fa-lg fa-fw fa-sign-in"></i> <span class="menu-item-parent">{{'Login/Register' | i18n}}</span></a>
      </li>
      <li>
        <a title="Products" routerLink="/e-commerce/products-view"><i class="fa fa-lg fa-fw fa-home"></i> <span
                class="menu-item-parent">{{'Products' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active" >
            <a  routerLink="/e-commerce/products-view" title="All Products">{{'All Products' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/layouts">{{'Add Product' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <sa-minify-menu></sa-minify-menu>

</aside>
